if SHIELD_GLOVE80_DONGLE 

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_KEYBOARD_NAME
	default "glove80 dongle"

endif

if SHIELD_GLOVE80_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif
